body{
    background-color: rgba(0, 0, 255, 0.555);
}
.img1{
    position: absolute;
    width: 17%;
    height: 30%;
    left: 3%;
    top: 32%;
}
.imagen-CruzAzul{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.img2{
    position: absolute;
    width: 17%;
    height: 30%;
    left: 80%;
    top: 32%;
}
.container{
    position: absolute;
    background-color: rgba(163, 233, 245, 0.829);
    width: 50%;
    height: 96%;
    top: 2%;
    left: 25%;
    border-radius: 5%;
}
.imagen{
    position: absolute;
    width: 35%;
    height: 50%;
    left: 2%;
    top: 2%;
}
#yo{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5%;
    box-shadow: 10px 10px 10px rgba(29, 62, 211, 0.596);
}
.titulo{
    position: absolute;
    width: 35%;
    height: 10%;
    left: 50%;
    text-align: center;
    
}
#nombre{
    margin-top: 5%;
    font-size: 60px;
    font-family: monospace;
    text-shadow: 5px 5px 2px rgba(17, 77, 206, 0.397);
}
.texto1{
    position: absolute;
    width: 55%;
    height: 42%;
    left: 41%;
    top: 11%;
}
.texto1 p{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    text-align: justify;
}
.texto2{
    position: absolute;
    width: 94%;
    height: 42%;
    left: 2%;
    top: 54%;
}
.texto2 p{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-shadow: 5px 5px 5px rgba(3, 79, 109, 0.397);
    text-align: justify;
}
.fecha1{
    position: absolute;
    right: 2%;
    bottom: 10%;
    width: 20%;
    height: 15%;
    background-color: aliceblue;
    border-radius: 10%;
}
#fecha{
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(14, 4, 17);
    font-size: 1.5em;
    text-shadow: 5px 5px 5px rgba(3, 79, 109, 0.397);
    text-align: center;
    top: 12%;
}
.contacto{
    position: absolute;
    left: 2%;
    top: 67%;
    width: 20%;
    height: 30%;
    background-color: aliceblue;
    border-radius: 10%;
}
  #text-contact {
    position: absolute;
    top: 6%;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(14, 4, 17);
    font-size: 2.2em;
    width: 100%;
    margin-top: 0%;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(3, 79, 109, 0.397);
  }
  .face{
    position: absolute;
    left: 0;
    top: 25%;
    width: 80%;
    height: 30%;
  }
  #img-face{
    position: absolute;
    width: 30%;
    height: 100%;
    left: 5%;
  }
  #facebook{
    position: absolute;
    left: 50%;
    top: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-shadow: 5px 5px 5px rgba(3, 79, 109, 0.397);
  }
  .whats{
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    height: 30%;
  }
  #img-whats{
    position: absolute;
    width: 25%;
    height: 100%;
    left: 5%;
    border-radius: 50%;
  }
  #whatsapp{
    position: absolute;
    left: 40%;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-shadow: 5px 5px 5px rgba(3, 79, 109, 0.397);
  }